@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<PageTitle>Redirect To Login</PageTitle>

<div class="container p-5">
    <div class="alert alert-secondary">
        <h3>Access denied. You're about to be redirected to the <a class="link-primary" href="Account/Login">Login Page</a></h3>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        var returnUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        var url = NavigationManager.ToAbsoluteUri($"Account/Login?ret=/{returnUrl}");
        await JsRuntime.InvokeAsync<string>("location.replace", url);
    }
}