@using Domain.Common.Extensions
@using Domain.Common.Types
@if (_messages.NotEmpty())
{
    <ul class="validation-errors">
        @foreach (var message in _messages)
        {
            <li class="validation-message">@message</li>
        }
    </ul>
}

@code {
    private List<string> _messages = new();
    [CascadingParameter] private EditContext CurrentEditContext { get; set; }

    protected override void OnInitialized()
    {
        CurrentEditContext.OnValidationRequested += (s, e) => Reset();
        CurrentEditContext.OnFieldChanged += (s, e) => Reset();
    }

    public void DisplayError(R result)
    {
        _messages.Add(result.ErrorMessage);
        StateHasChanged();
    }
    
    private void Reset()
    {
        _messages.Clear();
        StateHasChanged();
    }
}